:root {
  --brand-blue: #32459d;
  --brand-orange: #f58220;
  --dark-blue: #303f9f;
  --primary-text: #212121;
}

@font-face {
  font-family: "Playfair Display", serif;
  src: url(./fonts/playfair-display.ttf) format("truetype");

  font-family: "Poppins", sans-serif;
  src: url(./fonts/Poppins-Regular.ttf) format("truetype");

  font-family: "Poppins thin", sans-serif;
  src: url(/src/fonts/Poppins-Thin.ttf) format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--primary-text);
  font-family: "Poppins", sans-serif !important;
}

.navbar {
  padding: 0 !important;
}
.logo {
  max-width: 100px !important;
}
.bg-blue {
  background: var(--brand-blue);
}

.bg-orange {
  background: var(--brand-orange);
}

.current-page {
  color: var(--brand-orange) !important;
  font-size: 1.05em;
}

.hero {
  text-align: center;
  padding: 160px 20px;
}
hero p {
  font-size: 36px;
  margin: 0;
}
h1 {
  font-size: 96px !important;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.hero h2 {
  font-size: 24px !important;
  line-height: 2;
}

.hero-buttons a {
  margin: 20px;
  padding: 15px;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--brand-orange);
  color: white;
  border: 2px solid var(--brand-orange);
  transition: all 200ms ease-in-out;
}

.hero-buttons a:hover {
  background-color: white;
  color: var(--brand-orange);
  border: 2px solid var(--brand-orange);
}

.pillars {
  background: var(--primary-text);
  color: white;
  padding: 40px 0;
}
.pillars h4,
.newsreel p {
  font-size: 20px;
}
.pillars i {
  color: var(--brand-orange);
  font-size: 36px;
  transition: all 200ms linear;
}

.pillars i:hover {
  transform: scale(1.1, 1.1);
}

.title h2 {
  color: var(--brand-orange);
  font-size: 48px;
  font-family: "Playfair Display", serif;
}

.pillars p,
.newsreel p {
  font-size: 14px;
  opacity: 0.7;
}

.newsreel form label {
  font-size: 14px;
  color: var(--brand-blue);
  position: relative;
  left: 135px;
  bottom: 30px;
}

.newsreel h2 {
  color: var(--brand-blue);
}

#subscribe-input {
  border: 1px solid var(--brand-blue);
}

#subscribe-input::placeholder {
  font-size: 14px;
}

.sub-btn {
  border: 1px solid var(--brand-orange);
  color: var(--brand-orange);
  background: rgba(245, 130, 32, 0.3);
  transition: all 200ms linear;
}

.sub-btn:hover {
  color: white;
  background: var(--brand-orange);
}

.footer ul a {
  display: block;
  color: white;
  text-decoration: none;
  font-family: "Poppins thin", sans-serif;
  font-size: 16px;
}

.footer-link-title,
.social-icons a {
  font-size: 24px !important;
  transition: all 200ms linear;
  cursor: pointer;
  color: white !important;
}

.social-footer i:hover {
  transform: scale(1.1, 1.1);
}
